.jumbotron{
	background-color: #fdb60d;
	color: black;
	margin-top: 50px;
}

.footer{
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	background-color: #fdb60d;
	margin-bottom: 0px;
	margin-top: 15px;
}

.card-hotel{
	padding-left: 0;
	padding-right: 0;
}

.text-hotel{
	padding-left: 5px;
	padding-right: 5px; 
}

a{
	color: #000000;

}

a:hover{
	color:#0a61fe;
}

