.jumbotron {
  background-color: #f7ef00;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #f7ef00;
  margin-top: 15px;
  margin-bottom: 0px;
}
.card-hotel {
  padding-left: 0;
  padding-right: 0;
}
.text-hotel {
  padding-left: 5px;
  padding-right: 5px;
}
a {
  color: #000000;
}
a:hover {
  color: #0a61fe;
}
.tab-content {
  padding-top: 30px;
}
.with-l {
  width: 100%;
}
