$yellow:#ecf543;
$red:#fa0000;
$green:#4dff00;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}

.footer{
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	background-color: $red;
	@include margenes(15px, 0px);
}

.card-hotel{
	padding-left: 0;
	padding-right: 0;
}

.text-hotel{
	padding-left: 5px;
	padding-right: 5px; 
}

a{
	color: #000000;

}

a:hover{
	color:$green;
}

